@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    font-family: "Space Grotesk", sans-serif;
}

/* scroll-bar coustomization */

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1b263b00;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {

    background-color: #5F828B;
    border-radius: 10px;
    border: 2px solid #1B263B;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #5F828B #1b263b00;
}